__pycache__/
*.py[cod]
venv/
.env

data/*
!data/**/*.dvc
!data/**/.gitignore

mlops_lab_1/data/*
!mlops_lab_1/data/**/*.dvc
!mlops_lab_1/data/**/.gitignore

models/*
!models/**/*.dvc
!models/**/.gitignore

.ipynb_checkpoints
mlruns/
.trash/
artifacts/