__pycache__/
*.py[cod]
venv/
.env

data/**/*
!data/**/
!data/**/*.dvc
!data/**/.gitignore

models/**/*
!models/**/
!models/**/*.dvc
!models/**/.gitignore

.ipynb_checkpoints
mlruns/
.trash/
artifacts/